.change-password-page {
  background-color: var(--blue);
  color: var(--white);
  height: 100vh;
  display: grid;
}

.change-password-form {
  display: grid;
  gap: var(--spacing-7);
  width: 100%;
  max-width: 500px;
  margin: auto;
  background-color: var(--blue-1);
  padding: var(--spacing-10);
}

.change-password-form h1 {
  font-family: var(--font-oswald);
  font-weight: var(--weight-bold);
  font-size: var(--font-size-7);
}

.change-password-form button {
  padding: var(--spacing-3);
  font-size: var(--font-size-2);
  font-weight: var(--weight-bold);
  background-color: var(--blue-3);
}
