.header {
  display: grid;
  grid-template-columns: max-content max-content auto;
  align-items: center;
  background-color: var(--blue-1);
  backdrop-filter: blur(8px);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.menu {
  display: none;
}

.logo {
  padding: var(--spacing-4);
  text-decoration: none;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: var(--spacing-2);
}

.favicon {
  height: var(--size-6);
}

.light-mode {
  display: var(--hide-light);
}

.dark-mode {
  display: var(--show-light);
}

.logo-text {
  color: var(--white);
  font-family: var(--font-oswald);
  font-size: var(--font-size-3);
  height: max-content;
  align-self: center;
  font-weight: var(--weight-medium);
}

.nav {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: var(--spacing-15);
  margin-left: var(--spacing-40);
}

.nav a {
  text-decoration: none;
}

.nav-item {
  color: var(--white-2);
}

.nav-item-title {
  font-family: var(--font-oswald);
  font-size: var(--font-size-2);
  font-weight: var(--weight-medium);
  letter-spacing: 0.3px;
  color: var(--blue-6);
}

.nav-item-description {
  font-size: var(--font-size-1);
  font-weight: var(--weight-regular);
}

.nav a:hover .nav-item-title {
  color: var(--orange);
}

.account-link {
  justify-self: end;
}

.account-link a {
  margin: var(--spacing-3) var(--spacing-4);
  padding: var(--spacing-2) var(--spacing-6);
  background-color: var(--blue-3);
  color: var(--white);
  text-decoration: none;
  font-family: var(--font-oswald);
  font-size: var(--font-size-2);
  font-weight: var(--weight-medium);
}

@media (max-width: 1024px) {
  .nav {
    margin-left: var(--spacing-20);
    gap: var(--spacing-10);
  }
}

@media (max-width: 768px) {
  .header {
    background-color: var(--blue-2);
    grid-template-columns: max-content max-content auto;
  }

  .menu {
    display: block;
    justify-content: start;
    padding: 0 0 0 var(--spacing-4);
    position: relative;
  }

  .menu button {
    display: grid;
    place-items: center;
    background: none;
    padding: 0;
    border: none;
    transition: 0.2s transform;
  }

  .menu button:active:hover {
    transform: scale(0.9);
  }

  .menu svg {
    font-size: var(--font-size-7);
    color: var(--white);
  }

  .dropdown {
    border-top: 0.5px solid var(--blue-3);
    position: absolute;
    width: 100vw;
    top: calc(100% + var(--spacing-3));
    left: 0;
    padding: var(--spacing-4) var(--spacing-5) var(--spacing-10);
    background-color: var(--blue-2);
    display: grid;
    gap: var(--spacing-3);
  }

  .dropdown a {
    text-decoration: none;
  }

  .nav {
    display: none;
  }
}
