.write-page {
  background-color: var(--blue);
  color: var(--white);
  padding: var(--spacing-20) var(--spacing-10);
  display: grid;
  gap: var(--spacing-10);
  position: relative;
}

.write-page .right-img {
  position: absolute;
  width: 300px;
  top: -200px;
  right: 200px;
}

.write-page .left-img {
  position: absolute;
  width: 200px;
  top: -120px;
  left: -100px;
}

.title-controls {
  z-index: 1;
  display: grid;
  gap: var(--spacing-5);
  width: 100%;
  max-width: 1120px;
  margin: auto;
  align-items: center;
  grid-template-columns: 1fr auto;
}

.title-controls h1 {
  grid-column: 1 / 3;
  font-family: var(--font-oswald);
  font-size: var(--font-size-10);
}

.input {
  padding: var(--spacing-2);
  background-color: var(--blue-1);
}

.controls {
  display: grid;
  gap: var(--spacing-5);
  grid-template-columns: repeat(3, var(--size-15));
}

.controls button {
  display: grid;
  place-items: center;
}

.categories {
  color: black;
  max-width: 1120px;
  width: 100%;
  margin: auto;
}

.text-editor {
  padding: var(--spacing-5);
  width: 100%;
  max-width: 1120px;
  margin: auto;
  background-color: var(--blue-1);
}

@media (width <= 1024px) {
  .write-page .right-img {
    display: none;
  }
}

@media (width <= 650px) {
  .title-controls h1 {
    grid-column: 1 / 2;
    font-size: var(--font-size-6);
  }

  .controls {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    gap: var(--spacing-4);
    grid-template-columns: repeat(3, var(--size-15));
  }

  .input {
    grid-column: 1 / 3;
  }
}
