.footer {
  display: grid;
  gap: var(--spacing-2);
  padding: var(--spacing-3);
  background-color: var(--blue);
  color: var(--white);
}

.line-1 {
  height: var(--size-2);
  background-color: var(--blue-1);
}

.line-2 {
  height: var(--size-4);
  background-color: var(--blue-1);
}

.line-3 {
  height: var(--size-5);
  background-color: var(--blue-1);
}

.line-4 {
  height: var(--size-6);
  background-color: var(--blue-1);
}

.line-5 {
  height: var(--size-8);
  background-color: var(--blue-1);
}

.footer-content {
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  gap: var(--spacing-10);
  padding: var(--spacing-10) var(--spacing-5);
}

.footer-content button {
  width: var(--size-8);
  height: var(--size-8);
  align-self: end;
  justify-self: end;
  border: none;
  color: var(--blue);
  display: grid;
  place-content: center;
  background-color: var(--white);
  border-radius: var(--radius-circle);
  transition: 0.3s scale, 0.3s background-color;
}

.footer-content button:active:hover {
  scale: 0.95;
  background-color: var(--white-1);
}

.footer-content button svg {
  font-size: var(--font-size-5);
  color: var(--blue);
}

.footer-section-heading {
  font-family: var(--font-oswald);
  font-weight: var(--weight-bold);
  font-size: var(--font-size-5);
}

.social-media-links,
.useful-links {
  display: grid;
  gap: var(--spacing-5);
  grid-template-rows: max-content max-content;
}

.social-media-links-list {
  list-style: none;
  display: grid;
}

.useful-links-list {
  list-style: none;
  display: grid;
}

.social-media-links-list li {
  display: grid;
  grid-template-columns: var(--size-7) auto;
  gap: var(--spacing-2);
  align-items: center;
  padding: var(--spacing-1) 0;
}

.social-media-links-list li .img {
  height: var(--size-6);
  background-color: var(--white);
  display: grid;
  place-content: center;
  color: var(--blue-1);
  border-radius: var(--radius-2);
}

.social-media-links-list li .img svg {
  font-size: var(--font-size-5);
}

.social-media-links-list li a {
  font-size: var(--font-size-1);
  color: var(--white);
  text-decoration: none;
  width: max-content;
}

.useful-links-list li a {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: var(--spacing-1);
  align-items: center;
  font-size: var(--font-size-1);
  color: var(--white);
  text-decoration: none;
  width: max-content;
}

.useful-links li a svg {
  font-size: var(--font-size-8);
}

.copyright-text {
  font-size: var(--font-size-1);
  color: var(--white);
  padding: var(--spacing-3);
}

@media (width <= 600px) {
  .footer-content {
    grid-template-columns: auto;
    gap: var(--spacing-10);
    padding: var(--spacing-10) 0;
  }
}
