.category-page {
  background-color: var(--blue);
  color: var(--white);
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: var(--spacing-5);
  border-bottom: var(--size-1) solid var(--blue-2);
}

.info-section {
  background-color: var(--blue-2);
  height: calc(100vh - var(--size-15));
  overflow-y: auto;
  padding: var(--spacing-20);
  display: grid;
  gap: var(--spacing-10);
}

.category-info {
  display: grid;
  gap: var(--spacing-6);
  max-width: 600px;
}

.category-img {
  border-radius: var(--radius-2);
}

.category-img img {
  width: 100%;
  max-width: 500px;
  height: 300px;
  object-fit: cover;
  border-radius: var(--radius-2);
}

.category-info h1 {
  font-family: var(--font-oswald);
  font-size: var(--font-size-10);
  animation-delay: 0.1s;
}

.category-info p {
  font-size: var(--font-size-2);
  font-weight: var(--weight-light);
  line-height: 1.8;
  animation-delay: 0.3s;
}

.search {
  width: 100%;
  height: 400px;
  justify-self: end;
  z-index: 1;
}

.solutions {
  display: grid;
  gap: var(--spacing-10);
  padding: var(--spacing-15) var(--spacing-20);
  height: calc(100vh - var(--size-15));
  overflow-y: auto;
  background-color: var(--blue-1);
}

.solutions h2 {
  font-family: var(--font-oswald);
  font-size: var(--font-size-7);
  font-weight: var(--weight-semibold);
}

.no-solutions {
  display: grid;
  place-items: center;
  place-content: center;
  font-family: var(--font-oswald);
  font-weight: var(--weight-semibold);
  font-size: var(--font-size-6);
  padding: var(--spacing-20) 0;
  gap: var(--spacing-2);
  color: var(--white);
}

.no-solutions svg {
  font-size: var(--font-size-10);
}

.solutions-container {
  display: grid;
  gap: var(--spacing-20);
}

.solutions-container > div::after {
  display: none;
}

@media (max-width: 860px) {
  .info-section,
  .solutions {
    padding: var(--spacing-20) var(--spacing-10);
  }
}

@media (max-width: 650px) {
  .category-page {
    grid-template-columns: 1fr;
    border: none;
  }

  .info-section,
  .solutions {
    height: max-content;
    padding: var(--spacing-10) var(--spacing-5);
  }

  .solutions {
    background-color: var(--blue);
  }

  .category-info {
    max-width: 100%;
  }

  .category-img img {
    height: 300px;
    max-width: 100%;
  }

  .search {
    height: 300px;
  }
}
