
.editor-heading-h1 {
  font-family: var(--font-oswald);
  font-size: var(--font-size-9);
  margin-bottom: var(--spacing-4);
}

.editor-heading-h2 {
  font-family: var(--font-oswald);
  font-size: var(--font-size-6);
  font-weight: var(--weight-bold);
  margin-bottom: var(--spacing-2);
}

.editor-paragraph {
  font-size: var(--font-size-4);
  line-height: 1.5;
}

.editor-text-underline {
  text-decoration: underline;
}

.editor-text-strikethrough {
  text-decoration: line-through;
}

.editor-text-underline-strike-through {
  text-decoration: underline line-through;
}

.editor-list-ul,
.editor-list-ol {
  padding: 16px 32px;
  font-size: var(--font-size-4);
  display: grid;
  gap: var(--spacing-1);
}

.editor-link {
  color: var(--orange);
  font-weight: bold;
  text-decoration: none;
}
